@import "../../variables.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: $breakpoint-web) {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
}
