.photos {
  background-color: white;
  margin: 10px 0;
  
  .photos-header {
    text-align: left;
    font-size: 1.2rem;
    padding: 10px 10px;
  }

  .photos-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .page-image {
      flex: 0 0 30%;
      height: 30%;
      
      > img {
        width: 100%;
      }
    }
  }
}

