@import "../../variables.scss";

.toggle-btn {
  margin: 4px;
  background-color: white;

  label {
    float: left;
    // width: 4em;

    span {
      text-align: center;
      padding: 3px 0px;
      display: block;
    }

    input {
      display: none;
      &:checked + span {
        color: $primary;
      }
    }
  }
}
