@import "../../variables.scss";

.toggle-btn {
  margin: 4px;
  background-color: white;
  color: #afb4bd;
 
  .label-flex {
    display: flex;
    align-items: center;
  }
  label {
    float: left;
    // width: 4em;
    span {
      text-align: center;
      // padding: 3px 0px;
      display: block;
      margin: 3px;
    }

    input {
      display: none;
      
      &:checked + span,
      &:checked + span + span {
        color: $primary;
      }
    }
  }
}
