@import "../../../variables.scss";

.post {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;

  .post-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .avatar-post {
      margin: 0 10px;
    }

    & :last-child {
      margin: 0;
    }

    div {
      text-align: left;
      color: #90949c;
      font-weight: 500;

      .page-title {
        font-size: 14px;
        color: #365899;
      }
    }
  }

  .post-description {
    text-align: initial;
    padding-left: 10px;
    max-height: 15%;
    overflow: auto;
    margin-bottom: 15px;

    p {
      margin: 0;
    }
  }

  .card-post {
    width: 95%;
    margin: auto;

    h3 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0;
    }
  }

  hr {
    width: 95%;
    border: 0.5px solid #e9eaee;
  }

  .post-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      font-size: 1.5rem;
    }
  }

  .post-comment {
    padding-top: 2px;
    height: 20%;
    background-color: $secondary;

    .liked {
      width: 15px;
      margin: 5px 10px;
      display: block;
      text-align: start;
      color: white;
      font-size: 0.7rem;
      background-color: $primary;
      border-radius: 50%;
    }

    .user-avatar-comment {
      width: 8%;
      margin-left: 10px;

      img {
        width: 100%;
      }
    }

    .comment {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  @media (min-width: $breakpoint-web) {
    .post-actions {
      display: flex;
      justify-content: right;
      font-weight: bold;
      
      svg {
        font-size: 1.2rem;
      }
    }
  }
}
