.navbar {
  height: 50px;
  background-color: #4267b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.back-arr {
  color: #f2f2f2;
  width: 2em;
  height: 2em;
}

.dots-icon {
  color: #f2f2f2;
  width: 1.8em;
  height: 2em;
}
