@import "../variables.scss";

.App {
  text-align: center;

  @media (min-width: $breakpoint-web) {
    .main {
      padding: 0 10vw;
      display: flex;
      justify-content: space-between;
    }
  }
}
