@import "../variables.scss";

.App {
  text-align: center;

  @media (min-width: $breakpoint-web) {
    .main {
      padding: 0 10vw;
      display: flex;
      justify-content: center;
      background-color: #e9eaed;

      .page {
        max-width: 836px;
      }
    }
  }
}
