@import "../variables.scss";

.App {
  text-align: center;
  background-color: #e9eaed;

  @media (min-width: $breakpoint-web) {
    .main {
      padding: 0 10vw;
      display: flex;
      justify-content: center;
      background-color: #e9eaed;
      
      .page {
        max-width: 836px;
      }
    }
  }

  @media (min-width: $breakpoint-mobile-landscape) and (max-width: $breakpoint-web) {
    .main {
      margin: 0 100px;
    }
  }
}
